# Discord Bot Token - získaš na https://discord.com/developers/applications
DISCORD_TOKEN=tvoj-bot-token-sem
# Discord Client ID - nájdeš v OAuth2 sekcii tvojej aplikácie
CLIENT_ID=tvoj-client-id-sem
