# Discord Bot Token - ziskas na https://discord.com/developers/applications
DISCORD_TOKEN=tvoj-bot-token-sem
# Discord Client ID - najdes v OAuth2 sekcii tvojej aplikacie
CLIENT_ID=tvoj-client-id-sem
# Mesto pre status bota (volitelne, napr. Trnava)
STATUS_CITY=Trnava
